{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
    <h3 class="display-4">Register.</h3>
    {% for msg in get_flashed_messages() %}
        {{ msg }}
    {% endfor %}
    <h4 class="lead">Already Registered? <a href="/login">Login Here.</a></h4>
    <div class="form-group">
        <form action="/register" method="POST">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
            <div>
                {{ field.label }}
                {{ field(class_="form-control")}}

                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <button class="btn btn-primary my-2" type="submit">Complete Registration</button>
        </form>
    </div>
{% endblock %}